<footer class="main-footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-columns">
        <div class="footer-column">
          <h4>Support</h4>
          <ul>
            <li><a href="#">Help Centre</a></li>
            <li><a href="#">AirCover</a></li>
            <li><a href="#">Anti-discrimination</a></li>
            <li><a href="#">Disability support</a></li>
            <li><a href="#">Cancellation options</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h4>Hosting</h4>
          <ul>
            <li><a href="#">RestEasy your home</a></li>
            <li><a href="#">AirCover for Hosts</a></li>
            <li><a href="#">Hosting resources</a></li>
            <li><a href="#">Community forum</a></li>
            <li><a href="#">Hosting responsibly</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h4>RestEasy</h4>
          <ul>
            <li><a href="#">Newsroom</a></li>
            <li><a href="#">New features</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Investors</a></li>
            <li><a href="#">Gift cards</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="footer-bottom-left">
        <span>© <%= new Date().getFullYear() %> RestEasy, Inc.</span>
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
        <a href="#">Sitemap</a>
      </div>
      <div class="footer-bottom-right">
        <a href="#"><i class="fa-solid fa-globe"></i> English (IN)</a>
        <a href="#"><i class="fa-solid fa-indian-rupee-sign"></i> INR</a>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>
